* {
   box-sizing: border-box;
}
/*Навигация*/
.navigate {
   width: 100%;
   background-color: green;
}
@media screen and (max-width: 680px) {
   .navigate {background-color: rgba(0, 0, 0, .8)}
}
.navigate__link {
  display: inline-block;
  padding: 20px;
  border-right: 1px dashed white ;
}
@media screen and (max-width: 680px){
   .navigate__link {
      display: block;
      border-bottom: 1px dashed white;
   }
}
.navigate__link_decor {
   text-decoration: none;
   color: white;
   font-weight: 900;
}
.navigate__link_decor:hover {
   color: red;
}
.navigate__link_decor:active {
   color: lightcoral;
}
/*Контент Column*/
.content::after {
   content: "";
   display: table;
   clear: both;
}
.content__column {
   float: left;
   width: 25%;
   padding: 20px;
}
@media screen and (max-width: 992px) {
   .content__column {
      width: 50%;
   }
}
@media screen and (max-width: 600px) {
   .content__column {
      width: 100%;
   }
}
   .content__column_background {
      background-color: gray;
      color: white;
      font-size: 1.3rem;
   }
   .content__column_background:nth-child(1)  {
      background-color: #aaa;
   }
   .content__column_background:nth-child(2)  {
      background-color: #ccc;
   }
   .content__column_background:nth-child(3)  {
      background-color: #ddd;
   }
   .content__column_background:last-of-type {
      background-color: #bbb;
   }





   

  
   
  
  